h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #333333;
  display: block;
}
h1 {
  font-size: 32px;
  font-weight: 600;
}
h2 {
  font-size: 26px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  border-bottom: solid 1px #7f7f7f;
  text-align: center;
  display: block;
}
nav a {
  text-decoration: none;
  color: #333333;
  margin: 20px;
  display: inline-block;
}
div {
  padding: 30px;
}
section {
  overflow: auto;
}
footer {
  background: #7f7f7f;
  text-align: center;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}
#logo {
  width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#about {
  text-align: center;
}